.logo{
  margin: auto;
width: 30%;
}
input[type=text]{
  padding: 8px;
  border: solid 1px #d9d9d9;
  width: 50%;
}

#search{
  vertical-align: middle;
  height: 38px;
  width: 33px;
  border: solid 1px #d9d9d9;
  padding: 4px;
  border-radius: 2px;
}

.mic{
  padding: 5px;
  margin-top: 2px;
}

.logo{
  vertical-align: middle;
  padding-top: 40px;
  margin-bottom: 0px;
}

.buttons{
  padding: 20px;
  font-weight: bold;
  color: #9a9ca0;
  line-height: 2;
}

ul{
  list-style-type:none;
}

li{
  display: inline;
  color: #404040;
  margin: 0px 15px 5px 7px;
  padding: 3px;
}

#avatar{
  height: 20px
}

.nav-bar{
  float: right;
}

#avatar{
  height: 25px;
}

footer{
  background: #eaedf2;
  position: fixed;
  border-top: solid 1px #e4e4e4;
  bottom: 0px;
  width: 100%;
  line-height: 20px;
  padding-top: 4px;
}

.foot_left{
  float: left;
  padding-left: 10px;
}

.foot_right{
  float: right;
}
